.fl-sleep-cycle-sec{
	background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding-bottom: 15px;
    position: relative;
}
.fl-sleep-cycle-head {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding: 20px 15px 40px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -10px;
}
.fl-sleep-cycle-head h2{
	margin: 0;
	text-align: center;
    color: #fff;
    font-family: 'TitilliumWeb-Bold';
}
.fl-sleep-cycle-two-part{
	padding-top: 15px;
}
.fl-sleep-cycle-two-part .fl-sleep-cycle-img {
    width:50%;
    padding-top: 30px;
}
.fl-sleep-cycle-two-part .fl-sleep-cycle-des{
    width: 50%;
    padding: 10px 15px 10px 15px;
}
.fl-sleep-cycle-des p{
    margin-bottom: 28px;
}
span.fl-txt-line-bg{
    font-family: 'SourceSansPro-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -12px;
    margin-left: -12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #000;
}
.line-bg-mrg-10{
    padding-left: 12px !important;
}

.fl-our-team-two-part-sec{
    padding-top: 10px;
    padding-bottom: 10px;
}
.fl-our-team-two-grd-head{
    padding: 20px 15px 22px;
    text-align: center;
    color: #010101;
    font-family: 'TitilliumWeb-Bold';
}
.fl-our-team-two-grd-head h2{
    margin: 0;
    margin-bottom: 10px;
}
.fl-our-team-two-grd-img-1{
    padding-top: 5px;
}
.fl-our-team-two-grd-dsc-1{
    padding-right: 10px;
}

.fl-paired-gaba-sec-wrp{
    padding-bottom: 25px;
}
.fl-paired-block-4 .fl-paired-head {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding: 10px 15px 35px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-family: 'TitilliumWeb-Bold';
}
.fl-advanced-img {
    padding-top: 35px;
    margin-bottom: -75px;
}
.fl-product-two-grd-img{
    padding-top: 18px;
}

.fl-feature-natural-sec{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding-bottom: 35px;
    position: relative;
}
.top-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom:-1px;
    z-index: 1;
    height: 20px;
    background: center bottom;
    background-repeat: repeat-x!important;
}

.fl-advanced-two-grid-wrp{
    padding-top: 30px;
}
.fl-advanced-two-grid-wrp ul{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
}
.fl-advanced-two-grid-wrp ul li{
    max-width: 567px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 20px;
}
.fl-advanced-two-grid-wrp ul li:nth-child(7) .fl-advanced-two-grid-inr,
.fl-advanced-two-grid-wrp ul li:nth-child(3) .fl-advanced-two-grid-inr,
.fl-advanced-two-grid-wrp ul li:nth-child(4) .fl-advanced-two-grid-inr{
    height: 335px;
}
.fl-advanced-two-grid-wrp ul li:nth-child(5) .fl-advanced-two-grid-inr,
.fl-advanced-two-grid-wrp ul li:nth-child(6) .fl-advanced-two-grid-inr{
    height: 285px;
}
.fl-advanced-two-grid-inr{
    -webkit-box-shadow: 0 0 7px 1px rgba(213,206,201,1);
    -moz-box-shadow: 0 0 7px 1px rgba(213,206,201,1);
    box-shadow: 0 0 7px 1px rgba(213,206,201,1);
    text-align: left;
    padding: 25px 15px 20px 22px;
    height: 360px;
    font-size: 22px;
    background:#f7efe8;
}
.fl-advanced-two-grid-inr p{
    line-height: 27px;
}
.fl-adv-two-grid-controller{
    position: relative;
}
.fl-adv-two-grid-img-lft{
    height: 226px !important;
    width: 44%;
    float: left;
    position: relative;
}
.fl-adv-two-grid-img{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.fl-advanced-two-grid-dsc{
    float: right;
    width: 56%;
    padding-left: 20px;
    padding-right: 24px;
}
.fl-advanced-two-grid-dsc p {
    margin-bottom: 20px;
    line-height: 27px;
}
.fl-advanced-two-grid-dsc h4{
    margin: 0;
    font-family: 'SourceSansPro-Bold';
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 15px;
}
.fl-blockquote-items-sec-wrp{
    padding-top: 10px;
}
.fl-blockquote-items-sec-wrp .fl-our-team-two-grd-head{
    padding-bottom: 7px;
}
.dft-blockquote-row-item{
    padding-top: 40px;
}
.dft-blockquote-row-item blockquote{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 35px !important;
    background-color: #f7f7f7;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(212,212,212,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(212,212,212,1);
    box-shadow: 5px 5px 0px 0px rgba(212,212,212,1);
    position: relative;
}
.dft-blockquote-row-item blockquote em {
    display: block;
    position: relative;
    font-style: normal;
    padding: 25px 55px 30px 30px;
    font-family: 'SourceSansPro-Regular';
    font-size: 24px;
    line-height: 28px;
}
.dft-blockquote-row-item blockquote em:after {
    content: "";
    background: url(assets/images/polygon-btm.png);
    background-repeat: no-repeat;
    background-position: center top;
    left: 27px;
    right: -2px;
    width: 40px;
    height: 24px;
    position: absolute;
    bottom:-24px;
    z-index: 3;
}
.dft-blockquote-ftr span{
    display:block;
    font-size: 24px;
    line-height: 26px;
    font-family: 'SourceSansPro-Bold';
    color: #000;
    padding-bottom: 10px;
}
.dft-blockquote-row-item:nth-child(4) blockquote em{
    padding-right: 25px !important;
}



@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .fl-sleep-cycle-two-part .fl-sleep-cycle-img {
        width: 100%;
        padding-top: 0;
    }
    .fl-sleep-cycle-two-part .fl-sleep-cycle-des {
        width: 100%;
    }
    .fl-our-team-two-grd-img-1 {
        padding-top: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-product-two-grd-img{
        text-align: center;
        padding-bottom: 25px;
    }
    .fl-adv-mrg-top {
        margin-top: -60px;
    }
    .fl-advanced-two-grid-wrp ul li {
        max-width: 478px;
        width: 100%;
    }
    .fl-advanced-two-grid-inr{
        height: 770px;
    }
    .fl-advanced-two-grid-wrp ul li:nth-child(7) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(3) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(4) .fl-advanced-two-grid-inr {
        height: 715px;
    }
    .fl-advanced-two-grid-wrp ul li:nth-child(5) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(6) .fl-advanced-two-grid-inr {
        height: 615px;
    }
    .fl-adv-two-grid-img-lft {
        height: 425px !important;
        width: 100%;
    }
    .fl-advanced-two-grid-dsc {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
    .fl-advanced-two-grid-dsc h4{
        margin-top: 0;
    }
    .fl-sleep-cycle-head h2 {
        min-height: 100px;
    }

}


@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    .fl-advanced-img {
        margin-bottom: -60px;
    }

    .fl-adv-mrg-top {
        margin-top: -50px;
    }
    .fl-feature-natural-sec{
        padding-bottom: 30px;
    }
    .fl-advanced-two-grid-inr {
        height: auto;
    }
    .fl-advanced-two-grid-wrp ul li:nth-child(7) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(3) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(4) .fl-advanced-two-grid-inr {
        height: auto;
    }
    .fl-advanced-two-grid-wrp ul li:nth-child(5) .fl-advanced-two-grid-inr,
    .fl-advanced-two-grid-wrp ul li:nth-child(6) .fl-advanced-two-grid-inr {
        height: auto;
    }
    .fl-blockquote-items-sec-wrp {
        padding-top: 0;
    }
    .dft-blockquote-row-item blockquote em {
        padding: 25px 25px 30px 25px;
    }
    .fl-sleep-cycle-head h2 {
        min-height: 80px;
    }
    .fl-paired-block-4 .fl-paired-head{
        padding-bottom: 20px !important;
    }
    .fl-our-team-two-grd-head h2 br{
        display: none;
    }
        
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    .fl-adv-mrg-top {
        margin-top: -30px;
        padding-right: 0;
    }
    .fl-advanced-img {
        margin-bottom: -40px;
    }
    .dft-blockquote-row-item blockquote em {
        padding: 20px 15px 25px 15px;
        font-size: 20px;
        line-height: 26px;
    }
    .dft-blockquote-ftr span {
        font-size: 20px;
        line-height: 22px;
    }
    .dft-blockquote-row-item {
        padding-top: 30px;
    }
    
    
    
}



@media(max-width: 639px){

}



@media(max-width: 575px){
    .fl-advanced-img {
        margin-bottom: -30px;
        padding-top: 25px;
    }
    .fl-advanced-two-grid-wrp ul{
        margin: 0;
    }
    .fl-advanced-two-grid-wrp ul li {
        padding: 0 0 20px 0;
         max-width: 430px;
        width: 100%;
    }
    .fl-adv-two-grid-img-lft {
        height: 395px !important;
        width: 100%;
    }
    .fl-sleep-cycle-head h2 br{
        display: none;
    }

}

@media(max-width: 459px){

}
@media(max-width: 479px){
    .fl-adv-mrg-top {
        margin-top:-25px;
    }
    .fl-advanced-two-grid-wrp ul li {
        max-width: 300px;
        width: 100%;
    }
    .fl-adv-two-grid-img-lft {
        height: 265px !important;
        width: 100%;
    }
    

}



@media(max-width: 359px){
    .fl-adv-mrg-top {
        margin-top:-20px;
    }
    .fl-adv-two-grid-img-lft {
        height: 235px !important;
        width: 100%;
    }
    .fl-adv-two-grid-img {
        max-width: 235px;
        width: 100%;
        margin: 0 auto;
    }

}
