header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo,
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 160px
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 28px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 36px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 28px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'SourceSansPro-Semibold'; 
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 45px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'SourceSansPro-Bold';  
    margin-top: 32px;
}
.fl-shipping:before {
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    background: #d91a1a;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 57px;
} 
.special-offer-con-wrp {
    position: relative;
    text-align: center;
    padding: 44px 50px 95px;
    color: #fff;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
}
.special-offer-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3
}
.special-offer-con-wrp h5 {
    margin-bottom: 18px;
	font-family: 'TitilliumWeb-SemiBoldItalic';
    font-family: 'TitilliumWeb-SemiBold';
}
.special-offer-con-wrp h1 {
    font-family: 'TitilliumWeb-Bold';
    margin-bottom: 15px;
    text-shadow: 1px 3px 7px #000;
	color:#cb0f0f;
}
.special-offer-con-wrp h2 {
    font-family: 'TitilliumWeb-Bold';
    margin-bottom: 24px;
}
.special-offer-dsc span {
	font-family: 'TitilliumWeb-Regular';
    font-size: 22px;
    display: inline-block;
    vertical-align: baseline;
}
.fl-doctor-intro-sec{
    padding: 26px 0 35px;
    background: #fff;
}  
.fl-doctor-intro-twopart{
    margin-bottom: 20px; 
}
.fl-doctor-intro-img{
    width: 47%;
    float: left;
}
.fl-doctor-intro-img img{
    width: 100%;
    height: auto;
    max-width: 515px;
}
.fl-doctor-intro-rgt-des {
    width: 53%;
    float: left;
    padding-left: 36px;
    padding-right: 20px;
    padding-top: 17px;
}
.fl-doctor-intro-sec p{
    margin-bottom: 28px;
}
.fl-doctor-intro-sec p strong{
    font-family: 'SourceSansPro-Bold';
    font-weight: 400;
}
.fl-doctor-intro-sec p:last-child {
    margin-bottom: 0;
}
.fl-sleep-deprivation-block-1 {
    padding-bottom: 24px;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-head{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    padding: 20px 15px 30px;
    border-radius: 8px;
    text-align: center;
    color:#fff;
    font-family: 'TitilliumWeb-Bold';
    margin-bottom: 30px;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-two-part{
	position: relative;
	padding: 34px 0;
    z-index: 1;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-img{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:36%;
    z-index: 2
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-img img{
    display: none;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-des{
	position: relative;
	z-index: 3;
	width:50.5%;
	background: #fffc;
	padding: 32px 32px 37px 40px;
	-webkit-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -18px rgba(0,0,0,0.75);
}
.fl-sleep-deprivation-des p {
    margin-bottom: 26px;
}
.fl-sleep-deprivation-des p:last-child{
	margin: 0;
}
.fl-sleep-deprivation-block-2 .fl-sleep-deprivation-head{
    padding: 3px 15px 33px;
    text-align: center;
    color:#010101;
    font-family: 'TitilliumWeb-Bold';
}
.fl-sleep-deprivation-block-2 .fl-sleep-deprivation-head h2{
    margin-bottom: 15px;
}
.fl-sleep-deprivation-block-2 .fl-sleep-deprivation-head-des {
    padding-top: 17px;
    font-family: 'SourceSansPro-Regular';
}
.fl-sleep-deprivation-block-2 li{
	margin-bottom: 35px;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-des{
    width:69%;
    float: right;
    padding: 13px 0 10px 10px;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-img{
	width:31%;
	float: left;
}
.fl-sleep-deprivation-block-2 li:nth-child(2n+2) .fl-sleep-deprivation-img{
	float: right;
}
.fl-sleep-deprivation-block-2 li:nth-child(2n+2) .fl-sleep-deprivation-des{
	padding: 13px 10px 10px 0;
	float: left;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-img img:nth-child(2){
    padding:25px 0 0 15px;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-des h4{
    font-family: 'SourceSansPro-Bold';
    margin-bottom: 28px;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-des h4 span{
    color:#cb0f0f;
}
.fl-sleep-deprivation-block-3{
    padding-top: 14px;
}
.fl-sleep-dep-feature-box{
    position: relative;
    padding-bottom: 110px;
    margin-bottom: 45px;
}
.fl-sleep-dep-feature-box > img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.sleep-dep-feature-des-hdr{
    text-align: center;
    padding:0 10px 25px;
}
.sleep-dep-feature-des-hdr img{
    padding-right: 10px;
    padding-left: 10px;
}
.sleep-dep-feature-des-hdr h3{
    margin-bottom: 0;
    padding: 25px 10px 10px;
    font-family: 'TitilliumWeb-Bold';
}
.sleep-dep-feature-des {
    width: 68%;
    border: 10px solid #000;
    position: relative;
    z-index: 2;
}
.sleep-dep-feature-des-ftr{
    padding: 0 216px 23px 35px;
}
.sleep-dep-feature-des-ftr p:last-child{
    margin-bottom: 0;
}

span.fl-txt-line-bg {
    font-family: 'SourceSansPro-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -12px;
    margin-left: -12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    color: #000;
}
span.fl-txt-line-bg.innr-line-bg {
    margin-left: -6px;
    padding-left: 6px;
}






















@media(max-width: 1199px){
/*    h1 {
        font-size: 45px
    }
    h2 {
        font-size: 38px
    }
    h3 {
        font-size: 34px
    }
    h4 {
        font-size: 22px
    }
    h5 {
        font-size: 20px
    }*/
    .fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-des {
        padding: 13px 0 12px 20px;
    }    
    .fl-sleep-deprivation-block-2 li:nth-child(2n+2) .fl-sleep-deprivation-des {
        padding: 13px 12px 10px 0;
    }
} 

@media(max-width: 1023px){
.fl-doctor-intro-img {
    width: 100%;
    float: left;
    text-align: center;
}
.fl-doctor-intro-rgt-des {
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-img {
    background: none!important;
    position: static;
    margin-bottom: 25px;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-img img {
    display: inline-block;
}
.fl-sleep-deprivation-block-1 .fl-sleep-deprivation-des {
    width: 100%;
    padding: 30px 20px;
}
}

@media(max-width: 991px){
/*     h1 {
        font-size: 35px
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 28px
    }*/
    .fl-shipping h4 {
        font-size: 18px
    }
    .fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-img {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }   
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-img img {
    padding: 0 10px;
}    
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-img img:nth-child(2) {
    padding: 0 10px;
}
.fl-sleep-deprivation-block-2 li .fl-sleep-deprivation-des {
    width: 100%;
    float: right;
    padding: 15px 10px 20px;
}
.fl-sleep-deprivation-block-2 .fl-sleep-deprivation-head h2 br{
    display: none;
}
.fl-sleep-dep-feature-box {
    padding-bottom: 0;
    text-align: center;
}
.fl-sleep-dep-feature-box > img {
    position: static;
}
.sleep-dep-feature-des {
    width: 100%;
    border: 4px solid #000;
    margin-top: 15px;
}
.sleep-dep-feature-des-ftr {
    padding: 10px 15px 30px;
    text-align: left;
}
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }

}

@media(max-width: 767px){
/*    body {
        font-size: 18px;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
        font-size: 27px
    }
    h2 {
        font-size: 25px
    }
    h3 {
        font-size: 22px
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 18px
    }*/
    .special-offer-con-wrp {
        padding: 40px 15px 65px;
    }
    .special-offer-dsc span {
        font-family: 'TitilliumWeb-Regular';
        font-size: 18px;
        display: inline-block;
        vertical-align: baseline;
    }
    .fl-doctor-intro-sec p {
        margin-bottom: 20px;
    }
}

@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .special-offer-con-wrp h5 {
        margin-bottom: 20px;
    }

}
 
@media(max-width: 575px){
    .hdr-logo{
        max-width: 100px;
    }
    .secure-img {
        max-width: 120px;
    }

}

@media(max-width: 479px){

/*
    h1 {
        font-size: 25px
    }
    h2 {
        font-size: 22px
    }
    h3 {
        font-size: 21px
    }
*/

    .fl-shipping-progress-bar {
        margin-top: -10px
    }
    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }
    
    .fl-shipping h4 {
        font-size: 14px
    }
    
    .fl-shipping:before {
        height: 12px
    }
    
    .fl-shipping-col {
        width: 30%;
        float: left
    }
    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }
    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .special-offer-con-wrp h5 {
       margin-bottom: 12px;
    }
    .special-offer-con-wrp h2 {
        margin-bottom: 12px;
    }

}

@media(max-width: 359px){

}















































